
@import url('https://fonts.googleapis.com/css?family=Abel');

* {
    font-family: 'Abel';
}

body {
	background-color: #33A1FD;
}

html, body{
	overflow: hidden;
}

.button {
    /*padding: 0 5vw;*/
    margin: auto;
    margin-top: 4vh;
    height: 8vh;
    width: 30vmin;
    text-align: center;
    font-size: 2vmax;
    border-radius: 1vw;
    box-shadow: 0 .5vh #F79824;
    border: none;
    background-color: #FDCA40;
    outline: none;
    color: black;
	display: inline-block;
	margin-left: 2vmin;
	margin-right: 2vmin;
}

.button:disabled { 
    opacity: 0.2;
}


.button:active {
    box-shadow: 0 .2vh #F79824;
    transform: translateY(.2vh);
    border: none;
}

.buttons{
    margin: 0 auto;
    width: 100vmin;
    text-align: center;
	padding: 0;
    
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 80vmin;
  height: 8vh; /* Specified height */
  background: #FDCA40;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  display: inline-block;
  margin: auto;
  margin-top: 4vh;
  border-radius: 0.5vw;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider:disabled {
    opacity: 0.2;
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 8vh; /* Set a specific slider handle width */
  height: 8vh; /* Slider handle height */
  background: #F79824;
  cursor: pointer; /* Cursor on hover */
  border-radius: 0.5vw;
}

.slider::-moz-range-thumb {
  width: 8vh; /* Set a specific slider handle width */
  height: 8vh; /* Slider handle height */
  background: #F79824;
  cursor: pointer; /* Cursor on hover */
  border-radius: 0.5vw;
}

.pcr-app{
	width: 40vmin !important;
	height: 50vmin !important;
}

.pcr-selection{ 
	height: 35vmin !important;

}

.pcr-swatches {
    display: inline !important;
	height: 4vmin !important;
	margin: 1vmin !important;

}

.pcr-swatches *{
	height: 3vmin !important;
	width: 3vmin !important;
	padding: 1vmin !important;
	margin: 0.5vmin !important;
}

.pcr-interaction{
	height: 20vmin !important
}

.pcr-interaction * {
	height: 6vmin !important;
	width: 10vmin !important;
	font-size: 2.5vmin !important;
}


.pcr-color-chooser {
    height: 2vmin !important;
}

.pcr-color-preview {
	height: 5vmin !important;
	font-size: 2vmin !important;
}
