<!doctype html>
<html>
	<head>
		<title>HelioHex</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='index.js') }}"></script>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.3/webcomponents.min.js"></script>
		<!--<link rel="import" href="{{ url_for('static', filename='awesome-button.html') }}">-->
	</head>

	<body>
			<div class="buttons">
				<button type="button" class="button" value="set_color/255.255.0">Set Color</button>
				<button type="button" class="button" value="flash_around">Flash Around</button>
				<button type="button" class="button" value="rainbow_wheel">Rainbow Wheel</button>
				<button type="button" class="button" value="play_song">Spotify Sync</button>
			</div>
	</body>
</html>
		
